
  <h1 class = "text-center"> This is Home Page! </h1>
  <div class="container" id = "home-container">
    <div class="mt-4 p-5 jumbotron bg-primary text-center text-white rounded">
      <h1 class= "text-center"> Bugzilla</h1>
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ab
          repellat voluptatibus fugiat debitis fugit similique dolorum, vel
          nihil reiciendis voluptatem saepe nobis quia minima fuga. Voluptates
          debitis ratione vel.
      </p>
      <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
  <%= link_to 'Projects Listing Page', projects_path%> | <%= link_to 'About Page', about_path%>


